/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* VEETI'S WORK */

body {
  background: transparent;
  color: white;

  font-family: "Varela Round",sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px 0;
  position: relative;
}

.background {
  background: url(/dock.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.background:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: black;
  opacity: 0.5;
}

.lead {
  font-size: 125%;
}

.logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 80px;
  color: white;
}

.logo.logo-miner {
  font-size:24px;
  margin-bottom: 10px;
}

.logo.logo-footer {
  font-size: 20px;
  opacity: 0.8;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


button {
    border: 3px solid #32CBB7;
    color: #333;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: 11px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    top: 0;
    border-color: #fff;
    color: #fff;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
    transition: all .1s ease-in-out;
    white-space: normal;
    line-height: 1.5;
}

button:focus {
  outline: none !important;
}
button:focus,
button:hover {
  opacity: 0.7;
  transition: all .1s ease-in-out;
}

footer {
  padding: 10px 0px;
}

img {
  max-width: 100%;
}

h1 {
    border-bottom: 2px solid rgba(255,255,255,0.4);
    border-top: 2px solid rgba(255,255,255,0.4);
    margin-top: 10px;
    padding: 10px 0;
    font-size: 60px;
    line-height: 1.05;
    margin: 0 0 20px;
}

h2 {

    margin-top: 10px;
    padding: 10px 0;
    font-size: 40px;
    line-height: 1.05;

}
h4 {

    margin-top: 10px;
    padding: 10px 0;
    font-size: 30px;
    line-height: 1.05;

}

h1, h2, h3, h4, h5, h6 {
    color: #eee;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}


p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 10px;
}

.row {
    margin: 0 -2.5%;
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    margin: 0.5rem 2.5%;
    min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-6 {
  width: 45%;
}

.col-12 {
  width: 95%;
}

.coinhive-miner {
  width: 100%;
  height: auto;
}

.kuutti {

}

a {
  color: white;
  transition: all .1s ease-in-out;
}

a:focus,
a:hover {
  opacity: 0.8;
  transition: all .1s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-15px)
   }
    to{
       opacity:1;
       transform:translateX(0px)
   }
}
.fading,
.will-fade{
   opacity:0
}
.faded{
   animation-name:fade-in;
   animation-duration:0.7s;
   animation-iteration-count:1
}

.minerbox {
  padding: 40px 20px;
  border: 3px solid white;
  border-radius: 4px;
    background-color: rgba(255,255,255,0.2);
  text-align: center;
}





/* mobile */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 42px;
  }

  .col-12,
  .col-6 {
    width: 95%;
  }
  .logo {
    font-size: 30px;
    font-size: 14vw;
  }
}
